/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  height: 100vh;
  background-color: black;
  color: white;
}
html,
body {
  font-family: "Open Sans", sans-serif;
}
body {
  height: 100vh;
}
@media (max-width: 500px) {
  body {
    height: 100%;
  }
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Open Sans", sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h4 {
  font-size: 2rem;
}
p {
  font-size: 1.6rem;
}
img {
  max-width: 100%;
  height: auto;
}
@media (min-width: 500px) {
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid lightgray 0.5px;
    height: 10vh;
    background-color: #885B5F;
  }
  .nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
  }
  .nav-left {
    width: 50%;
    margin-left: 10vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 10vh;
  }
  .nav-right {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 10vh;
    margin-right: 10vw;
  }
  h1 {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    vertical-align: center;
  }
  a {
    text-decoration: none;
    padding-right: 5vw;
    color: white;
    font-size: 1.6rem;
  }
}
@media (min-width: 0px) and (max-width: 500px) {
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid lightgray 0.5px;
    height: 10vh;
    background-color: #885B5F;
  }
  .nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
  }
  .nav-left {
    width: 50%;
    margin-left: 10vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 10vh;
  }
  .nav-right {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 10vh;
    margin-right: 10vw;
  }
  h1 {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    vertical-align: center;
  }
  a {
    text-decoration: none;
    padding-right: 5vw;
    color: white;
    font-size: 3rem;
  }
}
.footer {
  width: 100%;
  border-top: 0.5px solid lightgray;
  background: #885B5F;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer p {
  text-align: center;
  font-size: 1.6rem;
  color: white;
}
.about {
  height: 80vh;
  width: 100vw;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.about-content {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1vh;
}
.about-content img {
  height: 5vh;
}
.about-content a {
  padding: 0;
}
.home {
  height: 80vh;
}
.home .cta-img {
  padding-top: 20px;
  padding-bottom: 20px;
}
.home .cta-img img {
  border-radius: 10px;
}
.home .content-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.home .content-section .text-content {
  width: 50%;
  height: 80vh;
  padding-left: 10vw;
  padding-top: 10vh;
}
.home .content-section .button-link {
  font-size: 2rem;
  border-radius: 7px;
  background-color: #885b5f;
  padding: 1vh;
}
.home .content-section .text-content p {
  padding-top: 7vh;
  padding-bottom: 10vh;
}
.home .content-section .img-content {
  width: 50%;
  height: 80vh;
  background-image: url(../img/Berlin4.jpg);
  background-position: center;
  background-size: cover;
}
@media (min-width: 0px) and (max-width: 500px) {
  .container-home {
    height: 80vh;
  }
  .container-about {
    height: 80vh;
    width: 100vw;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .about-content {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1vh;
  }
  .about-content img {
    height: 5vh;
  }
  .about-content a {
    padding: 0;
  }
  .home .cta-img {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .home .cta-img img {
    border-radius: 10px;
  }
  .home .content-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  .home .content-section .text-content {
    width: 90%;
    height: 80vh;
    padding-left: 10vw;
    padding-top: 10vh;
  }
  .home .content-section .button-link {
    font-size: 5rem;
    border-radius: 7px;
    background-color: #885b5f;
    padding: 1.5vh;
  }
  .home .content-section .text-content p {
    padding-top: 7vh;
    padding-bottom: 10vh;
  }
  .home .content-section .img-content {
    width: 50%;
    height: 80vh;
    background-image: url(../img/Berlin4.jpg);
    background-position: center;
    background-size: cover;
    display: none;
  }
  .home .content-section .img-content img {
    border-radius: 0px;
  }
  .home .inverse-content {
    padding-bottom: 50px;
    border-bottom: 2px solid #C0C0C0;
  }
  .home .inverse-content .text-content {
    padding-left: 1%;
    padding-right: 0;
  }
  .home .inverse-content .img-content {
    padding-right: 1%;
    padding-left: 0;
  }
  .home .content-destination {
    width: 75%;
    margin: 0 auto 30px;
  }
  .home .content-destination img {
    border-radius: 10px;
  }
  .home .content-pick {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  .home .content-pick .destination {
    width: 30%;
    margin-bottom: 30px;
  }
}
