.footer {
  width: 100%;
  border-top: .5px solid lightgray;
  background: black;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
  p {
    text-align: center;
    font-size: 1.6rem;
    color: white;
  }
}