.about {
  height: 80vh;
  width: 100vw;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .about-content {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1vh;

    img {
      height: 5vh;
    }

    a {
      padding: 0;
    }
  }
}

.home {
  height: 80vh;

  .cta-img {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .cta-img img {
    border-radius: 10px;
  }

  .content-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 80vh;

    .text-content {
      width: 50%;
      height: 80vh;
      padding-left: 10vw;
      padding-top: 10vh;
    }

    .button-link {
      font-size: 2rem;
      border-radius: 7px;
      background-color: #885b5f;
      padding: 1vh;
    }

    .text-content p {
      padding-top: 7vh;
      padding-bottom: 10vh;
    }

    .img-content {
      width: 50%;
      height: 80vh;
      background-image: url(../img/Berlin4.jpg);
      background-position: center;
      background-size: cover;
    }
  }
}
