.about {
  height: 80vh;
  width: 100vw;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .about-content {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1vh;

    img {
      height: 5vh;
    }

    a {
      padding: 0;
    }
  }
}

.home {
  height: 80vh;
  @media @mobile {
    height: 100%;
  }

  .content-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    @media @mobile {
      flex-direction: column;
      height: auto;
    }

    .text-content {
      width: 50%;
      height: 80vh;
      padding-left: 10vw;
      padding-top: 10vh;
      @media @mobile {
        padding: 0;
        margin: 10%; 
        width: 85%;
        height: auto;
      }
      h2 {
        @media @mobile {
          font-size: 5rem;
        }
      }
      p {
        padding-top: 7vh;
        padding-bottom: 10vh;
        @media @mobile {
          font-size: 3rem;
        }
      }

      .button-link {
        font-size: 2rem;
        border-radius: 7px;
        background-color: #885b5f;
        padding: 12px;
        &:hover {
          box-shadow: 0 0 10px 1px white;
        }
      }
    }

    .img-content {
      width: 50%;
      height: 80vh;
      background-image: url(../img/Berlin4.jpg);
      background-position: center;
      background-size: cover;
      @media @mobile {
        width: 100%;
        height: 50vh;
      }
    }
  }
}
