.about {
  height: 80vh;
  width: 100vw;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.about-content {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1vh;
}

.about-content img {
  height: 5vh;
}

.about-content a {
  padding: 0;
}

.home {
  height: 80vh;

  .cta-img {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .cta-img img {
    border-radius: 10px;
  }

  .content-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 80vh;

    .text-content {
      width: 50%;
      height: 80vh;
      padding-left: 10vw;
      padding-top: 10vh;
    }

    .button-link {
      font-size: 2rem;
      border-radius: 7px;
      background-color: #885b5f;
      padding: 1vh;
    }

    .text-content p {
      padding-top: 7vh;
      padding-bottom: 10vh;
    }

    .img-content {
      width: 50%;
      height: 80vh;
      background-image: url(../img/Berlin4.jpg);
      background-position: center;
      background-size: cover;
    }
  }
}

@media (min-width: 0px) and (max-width: 500px) {
  .container-home {
    height: 80vh;
  }

  .container-about {
    height: 80vh;
    width: 100vw;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .about-content {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1vh;
  }

  .about-content img {
    height: 5vh;
  }

  .about-content a {
    padding: 0;
  }

  .home {
    .cta-img {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .cta-img img {
      border-radius: 10px;
    }

    .content-section {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      height: 80vh;

      .text-content {
        width: 90%;
        height: 80vh;
        padding-left: 10vw;
        padding-top: 10vh;
      }

      .button-link {
        font-size: 5rem;
        border-radius: 7px;
        background-color: #885b5f;
        padding: 1.5vh;
      }

      .text-content p {
        padding-top: 7vh;
        padding-bottom: 10vh;
      }

      .img-content {
        width: 50%;
        height: 80vh;
        background-image: url(../img/Berlin4.jpg);
        background-position: center;
        background-size: cover;
        display: none;

        img {
          border-radius: 0px;
        }
      }
    }

    .inverse-content {
      padding-bottom: 50px;
      border-bottom: 2px solid @navigation-border;

      .text-content {
        padding-left: 1%;
        padding-right: 0;
      }

      .img-content {
        padding-right: 1%;
        padding-left: 0;
      }
    }

    .content-destination {
      width: 75%;
      margin: 0 auto 30px;

      img {
        border-radius: 10px;
      }
    }

    .content-pick {
      padding-top: 10px;
      display: flex;
      justify-content: space-between;

      .destination {
        width: 30%;
        margin-bottom: 30px;
      }
    }
  } // home
}
