// Navigation Styles here
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid lightgray 0.5px;
  height: 10vh;
  background-color: #885b5f;

  .nav-left {
    width: 50%;
    margin-left: 10vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .nav-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10vw;

    a {
      padding-right: 5vw;
      font-size: 1.6rem;
    }
  }
}
